<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <system.serviceModel>
        <services>
            <service name="GameServer.WcfGameService">
                <endpoint address="http://localhost:45000/GameServer" binding="wsDualHttpBinding"
                    bindingConfiguration="" name="GameServerEndpoint" contract="GameInterfaces.IWcfGameService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>